Carga los datos de iris desde fichero csv a un dataframe de pandas
Quita la columna target en el caso de que la tengas cargada y mete los resultados en la variable data
Crea un nuevo dataframe sólo con los datos de target
Crea un nuevo dataframe basandose en el dataframe target pero que devuelva 0 en caso de setosa, 1 para versicolor y 2 para virginica (tokenizar -> lambda)
Crea una función que sea capaz de detokenizar un dato (0-2 -> nombre de la clase de flor)
Crea un nuevo datarame en base a la primera columna de data (longitud del pétalo) llamado l_petal
Crea un nuevo dataframe en base a l_petal que tenga los datos normalizados (0-1 -> lambda)
Crea una función que sea capaz de denormalizar los datos (vaor 0-1 -> valor no normalizado, pe 5-> lambda)
Crea un df que tenga sólo las filas que cumplan con el el l_petalo sean mayores que 2
Crea un df que sólo tenga las filas que tenga el l_petal >2 y l_sep >1

In [2]:
import pandas as pd
from sqlalchemy import column
Midataframe=pd.DataFrame
Path='./'
filename='iris.data.csv'
file=Path+filename
columaname=['Largo Petalo', 'Ancho Petalo','Largo Sepalo','Ancho Sepalo','Target']
Midataframe=pd.read_csv(file,names=columaname)
print(Midataframe)

     Largo Petalo  Ancho Petalo  Largo Sepalo  Ancho Sepalo          Target
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           3.0           1.4           0.2     Iris-setosa
2             4.7           3.2           1.3           0.2     Iris-setosa
3             4.6           3.1           1.5           0.2     Iris-setosa
4             5.0           3.6           1.4           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5           5.0           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

Crea un dataframe con solo los datos de Target

In [4]:

target=Midataframe['Target']
#del Midataframe['Target']
print(target)
print(Midataframe)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Target, Length: 150, dtype: object
     Largo Petalo  Ancho Petalo  Largo Sepalo  Ancho Sepalo          Target
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           3.0           1.4           0.2     Iris-setosa
2             4.7           3.2           1.3           0.2     Iris-setosa
3             4.6           3.1           1.5           0.2     Iris-setosa
4             5.0           3.6           1.4           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5           5.0           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
def Tokeniza(Cadena):
    if Cadena=="Iris-setosa":
        return 0
    elif Cadena=="Iris-virginica":
        return 1
    else:
        return 2

targetTokenizado=target.map(Tokeniza)
print(targetTokenizado)

0      0
1      0
2      0
3      0
4      0
      ..
145    1
146    1
147    1
148    1
149    1
Name: Target, Length: 150, dtype: int64

In [6]:
NewDataframe2=Midataframe['Largo Petalo']


def Normaliza(x):
    return x/100
def DeNormaliza(x):
    return x*100
NewData2=NewDataframe2.map(Normaliza)
print(NewData2)
NewData2=pd.DataFrame(NewData2.map(DeNormaliza))
print(NewData2)

0      0.051
1      0.049
2      0.047
3      0.046
4      0.050
       ...
145    0.067
146    0.063
147    0.065
148    0.062
149    0.059
Name: Largo Petalo, Length: 150, dtype: float64
     Largo Petalo
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [7]:
NewData2=pd.DataFrame(Midataframe['Largo Petalo'])

Select1=NewData2[NewData2["Largo Petalo"]>2]
print(Select1)

     Largo Petalo
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [8]:
NewData2=pd.DataFrame(Midataframe[['Largo Petalo','Largo Sepalo']])

Select1=NewData2[(NewData2["Largo Petalo"]>2) & (NewData2["Largo Sepalo"]>1)]
print(Select1)

     Largo Petalo  Largo Sepalo
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[149 rows x 2 columns]